.block-password {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
}
.block-password_input{
    border: 1px solid var(--mandy-300);
    border-radius: 6px;
    width: 100%;
    padding: 5px 10px;
    font-size: small;
    background-color: var(--mandy-200);
    color: var(--mandy-950);
    outline: none;
}
.eye-icon {
    position: absolute;
    cursor: pointer;
    color: var(--mandy-950);
    margin: 0.8rem;
} 
.error-msg{
    color: var(--red-error);
    font-size: x-small;
}