.button-mandy {
  border-radius: 6px;
    border-style: none;
    padding: 5px;
    background-color: var(--mandy-500);
    color: var(--font-button-color);
    min-width: 8rem;
    font-size: small;
    font-style: italic;
    cursor: pointer;
    transition: all 0.3s;
    width: 80%;
}
  
.button-mandy:hover {
  background-color: var(--mandy-600);
}
  
.button-mandy:disabled{
  color: var(--mandy-200)
}