.login {
    height: 100%;
    width: 100%;
    display: flex;
  }
  
  .block-left, .block-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .block-left {
    background-color: var(--cyan-1);
    width: 30%;
  }
  
  .block-right {
    background-color: var(--background-color);
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
  }
  
  .block-left_title, .block-right_title {
    font-family: var(--font-title-family);
    color: var(--font-title-color);
    font-size: var(--font-size-title);
  }

  .block-right_text{
    color:var(--font-title-color);
    font-size: 1rem;
  }