#input-text {
    border: 1px solid var(--mandy-300);
    border-radius: 6px;
    width: 80%;
    padding: 5px 10px;
    font-size: small;
    background:transparent;
    color: var(--mandy-950) ;
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--mandy-950);
    -webkit-box-shadow: 0 0 0 30px var(--mandy-200) inset;

}
