.section-options {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.section-options_option {
  cursor: pointer;
  color: var(--font-title-color);
  font-family: var(--font-text-family);
  font-size: medium;
  padding: 12px;
  transition: all 0.3s;
  border-radius: 0px 14px 14px 0px;
}

.section-options_option:hover {
  background-color: var(--background-clear);
  border-radius: 0px 14px 14px 0px;
}

.focused {
  background-color: var(--cyan-1);
}


.section-options_icon {
  width: 14px;
  height: 14px;
  color: var(--font-text-color);
  margin-right: 6px;
}


