option {
  color: var(--font-title-color);
  background-color: var(--background-clear);
}

.loading-spinner {
  display: flex;
  flex-direction: column;
}

.icon-filter {
  margin-left: 12px;
  color: #51544a;
}
