.password-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: center;
}

.eye-icon {
  position: absolute;
  right: 345px;
  cursor: pointer;
  color: var(--background-color);
}
