.header {
  height: 9%;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--font-title-color);
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_logo_img {
  height: 4rem;
  width: 4rem;
}

.header_logo_title {
  font-family: var(--font-title-family);
  color: var(--font-title-color);
  margin-left: 1rem;
}

.block-filter {
  display: flex;
  align-items: center;
  width: 50%;
}

.block-filter_title {
  font-family: var(--font-text-family);
  color: var(--font-title-color);
}
