.login-page,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.login-page {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.container-one,
.container-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-two {
  flex: 2;
  background-color: var(--background-color);
  height: 100%;
}

.container-one {
  flex: 1;
  position: relative;
  height: 100%;
}

.container-one::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px; /* Ancho del box-shadow */
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.5);
}

.container-one {
  background: url("./zzz.jpg") center/cover;
  height: 100%;
}

.title-notes {
  font-family: var(--font-title-family);
  color: var(--font-title-color);
}
.title-login {
  font-family: var(--font-title-family);
  color: var(--font-title-color);
}

.container-two input {
  border: 0.3vh solid var(--background-color);
  border-radius: 12px;
  padding: 10px 20px !important;
  width: 30%;
  font-size: 16px;
  padding: 6px;
  background-color: var(--background-clear); /* Color de fondo */
  color: #888d83; /* Color del texto */
  outline: none;
}

.error-message {
  color: red !important;
  font-size: x-small;
  margin-top: -16px !important;
  margin-bottom: 0px !important;
}

.container-two p {
  color: var(--font-title-color);
  margin: 16px 0px 16px 0px;
}
