.App {
  background-color: var(--mandy-100);
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 100vh;
  justify-content: center;
  overflow-x:hidden;
}

.App::-webkit-scrollbar {
  display: none;
}