.App {
  height: 100%;
  width: 50vw;
  background-color: var(--mandy-100);
  overflow-x:hidden;
}

.App::-webkit-scrollbar {
  display: none;
}

@media (max-width: 480px) {
  .App {
    width: 70vw;
  }
}
