
html{
  font-size:62.5%;
}

* {
	box-sizing:border-box;
	margin:0;
	padding:0;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

:root {
  --font-title-color: #d4d9d2;
  --background-color: #383934;
  --background-clear: #51544a;
  --font-title-family: ui-serif;
  --font-text-family: sans-serif;
  --dark-color: #1e1e1e;
  --cyan-1:#7f5539;
  --red-error: #e40a0a;
  --label-color:#888d83;
  --font-size-title:4rem;
}
