.container-loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
  color: var(--background-clear);
}

.icon-clip {
  font-size: x-large;
}

.container-loading p {
  font-family: var(--font-text-family);
  font-style: oblique;
}
